.button {
  height: 50px;
  width: 50px;
  border-radius: 15%;
  font-size: x-large;
  font-weight: bold;
}
#numbers {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}
.container {
  display: flex;
  justify-content: center;
}
#rowContainer {
  display: flex;
  flex-direction: column;
}
#operators {
  display: flex;
  flex-direction: column;
}
#Enter-button {
  width: 100px;
}
#display {
  border: black solid 2px;
  border-radius: 10%;
}
#numberDisplay {
  text-align: center;
  margin-top: 5px;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#resultDisplay,
p {
  margin: 0;
  padding: 5px;
}
